{{ define "404" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{if .Favicon }}
  <link rel="icon" type="image/x-icon" href="{{ .Favicon }}">
  {{ else if .Pic }}
  <link rel="icon" type="image/x-icon" href="{{ .Pic }}">
  {{ end }}
  <link rel="stylesheet" media="all" href="/static/styles/reset.css">
  <link rel="stylesheet" media="all" href="/static/styles/style.css">
  <link rel="stylesheet" media="all" href="/static/styles/background.css">
  <title>{{ .Name }} - Page Not Found</title>
</head>

<body>
  <main id="error">
    <h1>404</h1>
    <a href="/">
      <p>Click here to go back</p>
    </a>
  </main>
  <div id="background">
    {{ template "background" }}
  </div>
</body>

</html>
{{ end }}
