{{ define "gallery" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
  <link rel="stylesheet" media="all" href="/static/styles/codex-style.css">
  <link rel="stylesheet" media="all" href="/static/styles/gallery-style.css">
  <title>Codex Rattzii ・ Album</title>
</head>

<body>
  <section>
    <p style="margin-bottom: 0;"><a href="/">← Go back.</a></p>
    <h1 style="margin-top: 0;">Codex Album</h1>
    <p>A place for sharing pictures I've taken, drawn or somehow created. I'm not good at photography nor do I know how to draw.</p>
  </section>
  <p>
  </p>
  <hr />
  <h4>Pictures</h4>

  <div id="gallery">
  {{ range . }}
    <div class="picture">
      <a href="#{{ .Filename }}" class="thumbnail">
          <img src="/codex/album/{{ .Filename }}" width="200" alt="{{ .Title }}">
      </a>
      <div class="meta">
        <h5>{{ .Title }}</h5>
        <p>{{ .Date }}</p>
        <!-- <small>{{ .Description }}</small> -->
      </div>
    </div>

    <div id="{{ .Filename }}" class="modal">
      <div class="content">
        <a href="#" class="close">×</a>
        <img src="/codex/album/{{ .Filename }}">
        <div class="meta-modal">
          <h5>{{ .Title }}</h5>
          <p>{{ .Date }}</p>
          <!-- <small>{{ .Description }}</small> -->
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</body>
</html>
{{ end }}
