{{ define "buttons" }}
<h5>Buttons</h5>
<section class="buttons">
  <img src="/static/buttons/construction.webp">
  <img src="/static/buttons/eyes.gif">
  <img src="/static/buttons/internetprivacy.gif">
  <img src="/static/buttons/teto.webp">
  <img src="/static/buttons/paywalls.webp">
  <a href="https://ublockorigin.com" target="_blank"><img src="/static/buttons/ublockorigin.png"></a>
  <p></p>
  <p style="margin-bottom: 0;">My button — hotlink if thou wilt</p>
  <img src="/static/buttons/rattzxyz.png">
  <pre>&lt;a href="https://rattz.xyz" target="_blank"&gt;&lt;img src="https://rattz.xyz/static/buttons/rattzxyz.png"&gt;&lt;/a&gt;</pre>
</section>
{{ end }}
