{{ define "webrings" }}
<section class="webrings">
  <map name="noaimini8">
  <area href="https://baccyflap.com/noai" shape="rect" coords="20,0,67,30" target="_blank" alt="no ai webring" title="no ai webring">
  <area href="https://baccyflap.com/noai/?prv&s=ttz" target="_top" shape="rect" coords="0,7,18,23" alt="previous" title="previous">
  <area href="https://baccyflap.com/noai/?nxt&s=ttz" target="_top" shape="rect" coords="69,7,87,23" alt="next" title="next">
  </map>
  <img usemap="#noaimini8" src="/static/webrings/noai.gif" alt="a rectangle with an animated, shifting rainbow pattern with the words NO AI / WEBRING on it in big fat letters. to either side of the rectangle are two arrows pointing left and right with animated, concentrically expanding rainbow patterns in them">

  <p></p>
  <p style="margin-bottom: 0;">My button — hotlink if thou wilt</p>
  <img src="/static/buttons/rattzxyz.png" style="margin-bottom: 0;">
  <pre>&lt;a href="https://rattz.xyz" target="_blank"&gt;&lt;img src="https://rattz.xyz/static/buttons/rattzxyz.png"&gt;&lt;/a&gt;</pre>
</section>
{{ end }}
