{{ define "webrings" }}
<section class="webrings">
  <map name="noaimini0">
  <area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="16,2,71,28" alt="no ai webring" title="no ai webring">
  <area href="https://baccyflap.com/noai/?prv&s=ttz" target="_top" shape="rect" coords="2,9,13,21" alt="previous" title="previous">
  <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="79,22,85,28" alt="random" title="random">
  <area href="https://baccyflap.com/noai/?nxt&s=ttz" target="_top" shape="rect" coords="74,9,85,21" alt="next" title="next">
  </map>
  <img usemap="#noaimini0" src="/static/webrings/noai.gif" alt="an image of a little blue toy robot in a red circle. there's a red line running through the robot. around it are the words NO AI / WEBRING and two arrows, one pointing left, one right, and a little icon with two crossed arrows">

  <p></p>
  <p style="margin-bottom: 0;">My button — hotlink if thou wilt</p>
  <img src="/static/buttons/rattzxyz.png" style="margin-bottom: 0;">
  <pre>&lt;a href="https://rattz.xyz" target="_blank"&gt;&lt;img src="https://rattz.xyz/static/buttons/rattzxyz.png"&gt;&lt;/a&gt;</pre>
</section>
{{ end }}
