{{ define "codex" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
  <link rel="stylesheet" media="all" href="/static/styles/codex-style.css">
  <title>Lucas Rattz' Codex</title>
</head>

<body>
  <section>
    <h1>Lucas Rattz' Codex</h1>
    <p>This is where I share my thoughts. All text is 100% human-written.</p>
    <a href="/">← Go back to the landing page.</a></p>
  </section>
  <p>
  </p>
  <hr />
  <h4>Posts</h4>
  <!--
  {{ range .Pages }}
  {{ template "page" . }}
  {{ end }}
  -->
  <h5>I haven't posted anything yet. Please come back later.</h5>
</body>

</html>
{{ end }}
